.mac-book-air-2,
.mac-book-air-2 * {
  box-sizing: border-box;
}
.mac-book-air-2 {
  background: #ffffff;
  height: 832px;
  position: relative;
  overflow: hidden;
}
.descend-into-the-unknown-guided-by-safety-s-vigilant-glow {
  color: #000000;
  text-align: left;
  font-family: "AbyssinicaSil-Regular", sans-serif;
  font-size: 24.22455596923828px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 563px);
  top: calc(50% - 358px);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}
.rectangle-14 {
  background: #ffebb8;
  border-radius: 24px;
  border-style: solid;
  border-color: rgba(124, 71, 0, 0.85);
  border-width: 1.5px;
  width: 533px;
  height: 250px;
  position: absolute;
  left: calc(50% - 565px);
  top: calc(50% - 239px);
}
.rectangle-18 {
  background: #ffebb8;
  border-radius: 24px;
  border-style: solid;
  border-color: rgba(124, 71, 0, 0.85);
  border-width: 1.5px;
  width: 533px;
  height: 250px;
  position: absolute;
  left: calc(50% - -38px);
  top: calc(50% - -74px);
}
.rectangle-19 {
  background: #ffebb8;
  border-radius: 24px;
  border-style: solid;
  border-color: rgba(124, 71, 0, 0.85);
  border-width: 1.5px;
  width: 533px;
  height: 250px;
  position: absolute;
  left: calc(50% - 565px);
  top: calc(50% - -74px);
}
.rectangle-20 {
  background: #ffebb8;
  border-radius: 24px;
  border-style: solid;
  border-color: rgba(124, 71, 0, 0.85);
  border-width: 1.5px;
  width: 533px;
  height: 250px;
  position: absolute;
  left: calc(50% - -38px);
  top: calc(50% - 239px);
}
.kolar-gold-field {
  color: #000000;
  text-align: left;
  font-family: "PublicSans-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 261px);
  top: calc(50% - 215px);
  width: 173px;
  height: 31px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}
.chandrapur-coal-mine {
  color: #000000;
  text-align: left;
  font-family: "PublicSans-Medium", sans-serif;
  font-size: 23px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 277px);
  top: calc(50% - -109px);
  width: 249px;
  height: 36px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}
.ancient-mining-region-in-karnataka-india-once-home-to-the-world-s-deepest-gold-mine {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreMedium-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 264px);
  top: calc(50% - 174px);
  width: 211px;
  height: 140px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  margin-top: 20px;
}
.singareni-collieries {
  color: #000000;
  text-align: left;
  font-family: "PublicSans-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - -337px);
  top: calc(50% - 215px);
  width: 224px;
  height: 23px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}
.profitable-government-owned-coal-mining-corporation-in-india {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibre-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -337px);
  top: calc(50% - 171px);
  width: 218px;
  height: 140px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  margin-top: 20px;

}
input{
  height: 46px;
  width: 800px;
  border-radius: 10px;
}
input::placeholder{
  padding-left: 50px;
  font-size: 1.5rem;
}
.rectangle-3 {
  background: #e6e6e6;
  border-radius: 17.46px;
  width: 799.47px;
  height: 45.6px;
  position: absolute;
  left: calc(50% - 562.73px);
  top: calc(50% - 313.6px);
}
.search {
  width: 21px;
  height: 21px;
  position: absolute;
  left: calc(50% - 546px);
  top: calc(50% - 302px);
  overflow: visible;
}
.notable-mining-site-in-goa-india-contributing-to-the-region-s-economy {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreMedium-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -348px);
  top: calc(50% - -140px);
  width: 197px;
  height: 112px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  margin-top: 20px;
  
}
.a-significant-coal-mining-site-in-maharashtra-india {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreMedium-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 272px);
  top: calc(50% - -148px);
  width: 197px;
  height: 84px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  margin-top: 20px;

}
.dempo-mines {
  color: #000000;
  text-align: left;
  font-family: "PublicSans-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - -348px);
  top: calc(50% - -100px);
  width: 155px;
  height: 27px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}
.rectangle-11 {
  background: #e9a41d;
  border-radius: 11px;
  width: 253px;
  height: 37px;
  position: absolute;
  left: calc(50% - -72px);
  top: calc(50% - 62px);
}
.rectangle-21 {
  background: #e9a41d;
  border-radius: 11px;
  width: 253px;
  height: 37px;
  position: absolute;
  left: calc(50% - 539px);
  top: calc(50% - 62px);
}
.rectangle-22 {
  background: #e9a41d;
  border-radius: 11px;
  width: 253px;
  height: 37px;
  position: absolute;
  left: calc(50% - 536px);
  top: calc(50% - -259px);
}
.rectangle-23 {
  background: #e9a41d;
  border-radius: 11px;
  width: 253px;
  height: 37px;
  position: absolute;
  left: calc(50% - -72px);
  top: calc(50% - -252px);
}
.start-exploration {
  color: #ffffff;
  text-align: center;
  font-family: "Arimo-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 520px);
  top: calc(50% - 56px);
  width: 214px;
  height: 31px;
}
.start-exploration2 {
  color: #ffffff;
  text-align: center;
  font-family: "Arimo-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -98px);
  top: calc(50% - -258px);
  width: 214px;
  height: 31px;
}
.start-exploration3 {
  color: #ffffff;
  text-align: center;
  font-family: "Arimo-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 520px);
  top: calc(50% - -265px);
  width: 214px;
  height: 31px;
}
.start-exploration4 {
  color: #ffffff;
  text-align: center;
  font-family: "Arimo-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -92px);
  top: calc(50% - 56px);
  width: 214px;
  height: 31px;
}
.home {
  color: #000000;
  text-align: left;
  font-family: "PublicSans-Regular", sans-serif;
  font-size: 19.97321319580078px;
  font-weight: 400;
  position: absolute;
  right: 30px;
  top: 13px;
}
.explore {
  color: #000000;
  text-align: left;
  font-family: "PublicSans-Regular", sans-serif;
  font-size: 18.83796501159668px;
  font-weight: 400;
  position: absolute;
  right: 107px;
  top: 14px;
}
.cave-safe {
  color: #000000;
  text-align: left;
  font-family: "KumbhSans-Regular", sans-serif;
  font-size: 21.7407283782959px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 9px;
}
.line-1 {
  border-style: solid;
  border-color: rgba(124, 71, 0, 0.85);
  border-width: 0.5px 0 0 0;
  width: 1280px;
  height: 0px;
  position: absolute;
  left: calc(50% - 640px);
  top: calc(50% - 369.93px);
  transform-origin: 0 0;
  transform: rotate(-0.003deg) scale(1, 1);
}
.oip-1 {
  border-radius: 12px;
  border-style: solid;
  border-color: #7c4700;
  border-width: 2px;
  width: 253px;
  height: 129px;
  position: absolute;
  left: calc(50% - 539px);
  top: calc(50% - 213px);
  object-fit: cover;
}
.download-1 {
  border-radius: 12px;
  border-style: solid;
  border-color: rgba(124, 71, 0, 0.85);
  border-width: 2.3px;
  width: 253px;
  height: 124px;
  position: absolute;
  left: calc(50% - -72px);
  top: calc(50% - 212px);
  object-fit: cover;
}
.download-2 {
  border-radius: 12px;
  border-style: solid;
  border-color: rgba(124, 71, 0, 0.85);
  border-width: 2.3px;
  width: 253px;
  height: 126px;
  position: absolute;
  left: calc(50% - 539px);
  top: calc(50% - -109px);
  object-fit: cover;
}
.download-3 {
  border-radius: 12px;
  border-style: solid;
  border-color: rgba(124, 71, 0, 0.85);
  border-width: 2.3px;
  width: 253px;
  height: 123px;
  position: absolute;
  left: calc(50% - -72px);
  top: calc(50% - -106px);
  object-fit: cover;
}
.whistlesafe {
    color: #1c0d0d;
    text-align: left;
    font-family: "PublicSans-Bold", sans-serif;
    font-size: 16.588090896606445px;
    line-height: 20.74px;
    font-weight: 700;
    position: absolute;
    left: 18.22px;
    top: 18.35px;
  }     